.body {
    background-color: lightskyblue;
}
#container {
    display: grid;
    grid-auto-flow: column;
    
    
}
.docklist{ 
    background-color: white;
}
.shipHTML {
    height: 400px;
}

.ships {
  
    
   
}
.h1 {
    font-size: 20px;
}